@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import './objects/_objects.button.css';

@import 'tailwindcss/utilities';

@layer utilities {
  .scroll-snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
  .snap-smooth {
    scroll-behavior: smooth;
  }
  .snap-px-4 {
    scroll-padding-left: 1rem;
    scroll-padding-right: 1rem;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .layout-element {
    @apply relative;
    @apply max-w-desk;
    @apply mx-auto;
    padding-left: calc((100vw - 87.5%) / 2);
    padding-right: calc((100vw - 87.5%) / 2);
  }

  @screen lap {
    .layout-element {
      padding-left: max(theme('spacing.8'), env(safe-area-inset-left));
      padding-right: max(theme('spacing.8'), env(safe-area-inset-right));
    }
  }

  @screen desk {
    .layout-element {
      @apply px-16;
    }
  }
}

* {
  font-variant-ligatures: none;
}

html {
  scroll-padding-top: 10rem;
}

#root > div:not(#page-container) {
  @apply text-gray-200;
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

input[type='range'] {
  @apply h-10;
  @apply appearance-none;
  @apply cursor-pointer;
  @apply mt-3;
  @apply w-full;
  @apply bg-transparent;
  @apply pb-8;
}

input[type='range']:focus {
  @apply outline-none;
}

input[type='range']:focus::-webkit-slider-thumb,
input[type='range']:hover::-webkit-slider-thumb {
  @apply ring;
  @apply ring-brand-500;
  @apply ring-opacity-30;
}

input[type='range']::-webkit-slider-thumb:hover {
  @apply transform;
  @apply scale-150;
}

input[type='range']::-webkit-slider-runnable-track {
  @apply w-full;
  height: 10px;
  @apply cursor-pointer;
  @apply bg-brand-100;
  border-radius: 5px;
  @apply transition;
  @apply duration-200;
  @apply transition-colors;
}

input[type='range']:hover::-webkit-slider-runnable-track {
  @apply bg-brand-200;
}

input[type='range']::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 999px;
  @apply bg-brand-500;
  cursor: pointer;
  @apply transition;
  @apply duration-150;
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type='range']::-moz-range-track {
  @apply w-full;
  height: 10px;
  @apply cursor-pointer;
  @apply bg-brand-100;
  border-radius: 5px;
  @apply transition;
  @apply duration-200;
  @apply transition-colors;
}

input[type='range']:hover::-moz-range-track {
  @apply bg-brand-200;
}

input[type='range']:focus::-moz-range-thumb,
input[type='range']:hover::-moz-range-thumb {
  @apply ring;
  @apply ring-brand-500;
  @apply ring-opacity-30;
}

input[type='range']::-moz-range-thumb:hover {
  @apply transform;
  @apply scale-150;
}

input[type='range']::-moz-range-thumb {
  height: 20px;
  width: 20px;
  @apply border-0;
  border-radius: 999px;
  @apply bg-brand-500;
  cursor: pointer;
  @apply transition;
  @apply duration-150;
  margin-top: -5px;
}

@layer base {
  html {
    scroll-padding-top: 10rem;
  }

  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
